.obsidian-custom-attachment-location {
  &.obsidian-dev-utils.code-highlighter-component textarea.tokenized-string-setting-control {
    height: 6em;
  }

  &.obsidian-dev-utils.multiple-text-component textarea {
    height: 6em;
    width: 20em;
  }

  &.obsidian-dev-utils.code-highlighter-component textarea.custom-tokens-setting-control {
    height: 18em;
    width: 36em;
  }

  &.prompt-modal {
    .cancel-button {
      margin-right: 10px;
    }
  }

  &.preview-modal .preview-container {
    overflow: auto;
  }
}
