.obsidian-custom-attachment-location {
  &.obsidian-dev-utils.code-highlighter-component textarea.tokenized-string-setting-control {
    height: 6em;
  }

  &.obsidian-dev-utils.multiple-text-component textarea {
    height: 6em;
    width: 20em;
  }
}